@model MvcKutuphanem.Models.Entity.TBLADMİN
@{
    ViewBag.Title = "AdminGuncelle";
    Layout = "~/Views/Shared/Layout.cshtml";
}


@using (Html.BeginForm("AdminGuncelle", "Ayarlar", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>Admin ID</label>
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(k => k.KULLANİCİ, new { @class = "form-control" })
        <br />
        <label>Şifre</label>
        @Html.TextBoxFor(k => k.SİFRE, new { @class = "form-control" })
        <br />
        <label>Yetki</label>
        @Html.TextBoxFor(k => k.YETKİ, new { @class = "form-control" })
        <br />
    </div>
    <div>
        <button class="btn btn-warning">Admin Bilgilerini Güncelle</button>
    </div>
} 