@using MvcKutuphanem.Models.Entity

@model List<TBLDUYURULAR>

@{

    ViewBag.Title = "Duyurular";

    Layout = "~/Views/Shared/_LayoutPanelim.cshtml";

}



<!DOCTYPE html>

<html>

<head>

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>AdminLTE 3 | Simple Tables</title>

    <!-- Tell the browser to be responsive to screen width -->

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->

    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">

    <!-- Ionicons -->

    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- Theme style -->

    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">

    <!-- Google Font: Source Sans Pro -->

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>

<body class="hold-transition sidebar-mini">

    <div class="wrapper">

    
        <!-- Main content -->

        <section class="content">

            <div class="container-fluid">

                <!-- /.row -->

                <div class="row">

                    <div class="col-12">

                        <div class="card">

                            <div class="card-header">

                                <h3 class="card-title">Duyurular</h3>

                                <div class="card-tools">

                                    <div class="input-group input-group-sm" style="width: 150px;">

                                        <input type="text" name="table_search" class="form-control float-right" placeholder="Duyuru Ara">

                                        <div class="input-group-append">

                                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <!-- /.card-header -->

                            <div class="card-body table-responsive p-0">

                                <table class="table table-hover text-nowrap">

                                    <thead>

                                        <tr>

                                            <th>Kategori</th>

                                            <th>Tarih</th>

                                            <th>İçerik</th>
                                        </tr>

                                    </thead>

                                    <tbody>

                                        @foreach (var x in Model)
                                        {
                                        <tr>
                                            <td>@x.KATEGORI</td>
                                            <td>@Convert.ToDateTime(x.TARIH).ToString("dd/MM/yyyy")</td>
                                            <td>@x.ICERIK</td>
                                        </tr>
                                        }
                                    </tbody>

                                </table>

                            </div>

                            <!-- /.card-body -->

                        </div>

                        <!-- /.card -->

                    </div>

                </div>

                <!-- /.row -->
                <!-- /.row -->

            </div><!-- /.container-fluid -->

        </section>

        <!-- /.content -->

    </div>

    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery -->

</body>

</html>