
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Kategori İşlemleri</h2>

<div style="margin-bottom:15px; margin-top:15px;"></div>

<table class="table table-striped">
    <tr style="background-color:rgb(252, 178, 22)">
        <th>KATEGORİ NO</th>
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var ktg in Model)
    {

        <tr>
            <td>@ktg.ID</td>
            <td>@ktg.AD</td>
            <td>@Html.ActionLink("Sil", "KategoriSil", new { id = ktg.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor Musunuz?')" })</td>
            <td><a href="/Kategori/KategoriGetir/@ktg.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Kategori/KategoriEkle/" class="btn btn-primary">Yeni Kategori Ekle</a>


