@model MvcKutuphanem.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>Kategori ID</label>
        @Html.TextBoxFor(k => k.ID, new { @class = "form-control" })
        <br />
        <label>Kategori Adı</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
        <br />
    </div>
    <div>
        <button class="btn btn-warning">Kategori Bilgilerini Güncelle</button>
    </div>
} 